# Example .env.local file
# You should create a .env.local file with your own credentials
# and add it to your .gitignore file.

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# NextAuth
# You can generate a secret with `openssl rand -base64 32`
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=http://localhost:3000
